/* CSS reset */
body {
    margin: 0;
    padding: 0;
}

h2 {
    /*
        Definir a cor do texto utilizando rgb (red, green, blue)
        R => 0..255
        G => 0..255
        B => 0..255
    */
    color: rgb(120, 192, 145);
    /* color: rgba(120, 192, 145, 0.1); */
}

div {
    background-color: #004d8e;


    a {
        color: #FFFFFF;
        /* text-decoration altera a decoração do texto
    none faz com que o texto não tenha nenhuma decoração */
        text-decoration: none;
    }

    /* hover é a ação que ocorre quando passar o mouse por cima do elemento */
    a:hover {
        color: #ff6500;
    }
}